<?xml version="1.0" encoding="utf-8"?>
<!--
    File: app/src/main/AndroidManifest.xml
    Phase 1: Internet permission only (for AdMob).
    Storage permission deferred to Phase 2.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for AdMob to load ads -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GitHubManagerApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GitHubManager">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GitHubManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
